.wrapper {
    max-width: 350px;
    margin: 0 auto;
    width: 100%;
    height: calc(100vh - 160px);
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.form {
    width: 100%;
}

.subtitle {
    color: #b4b8c1
}